<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<h2>Vehicles</h2>
<p><a [routerLink]="[ '/vehicles/new']" class="btn btn-primary">New Vehicle</a></p>
<div class="card card-inverse">
  <div class="form-group card-body">
    <label for="make">Make</label>
    <select id="make" class="form-control" [(ngModel)]="filter.makeId" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>

    <button class="btn btn-secondry" (click)="resetFilter()">Reset</button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th (click)="sortBy('make')"><i class="fas fa-sort text-right"></i>Make</th>
      <th (click)="sortBy('model')"><i class="fas fa-sort text-right"></i>Model</th>
      <th (click)="sortBy('name')"><i class="fas fa-sort text-right"></i>Name</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody *ngFor="let v of vehicles">
    <tr>
      <td>{{v.id}}</td>
      <td>{{v.make.name}}</td>
      <td>{{v.model.name}}</td>
      <td>{{v.contact.name}}</td>
      <td><a [routerLink]="'/vehicles/'+ v.id">view</a></td>
    </tr> 
  </tbody>
  </table>
  <pagination [total-items]="item" [page-size]="filter.PageSize" (page-changed)="onPageChange($event)"></pagination>